html {
    padding: 1em;
    height: 100%;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0 ;
    font-family: sans-serif;
    height: 100%;
}

section {
    margin: 0 auto;
    color: #eee;
}

h1 {
    font-weight: 300;
    font-size: 2em;
    margin: 0 ;
}
h2 {
    font-weight: 200;
    margin: 0 0 .4em 0;
}
#titles {
    margin: .6em 0;
}
a {
    color: #fefefe;
    font-family: monospace;
}

h3 {
    margin: .6em 0 .3em 0;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: .5em .4em;
    transition: background .15s ease-in;
}
li:active, li:hover {
    background: rgba(255,255,255, .15);
}
li div {
    max-height: 0;
    overflow: hidden;
    transition: max-height .6s;
}
li.active div {
    max-height: 600px;
    transition: max-height .6s;
}
li div code {
    display: block;
    margin: .2em 0;
}
li div img {
    max-height: 250px;
    max-width: 300px;
}
.tech,
.education {
    font-family: monospace;
    display: block;
    opacity: .87;
}
.tech {
    font-size: .9em;
}
.education {
    font-size: .6em;
}