.background1
{
    min-width: 100%;
	height:250px;
	background-color: #e5e9f0;
	-webkit-box-shadow: 0 2px 2px rgba(4,4,4,.09);
	-moz-box-shadow: 0 2px 2px rgba(4,4,4,.09);
	box-shadow: 0 2px 2px rgba(4,4,4,.09);
	background-image: -webkit-linear-gradient(left, #0779cf, #00d45c);
	background-image: -moz-linear-gradient(left, #0779cf, #00d45c);
	background-image: -o-linear-gradient(left, #0779cf, #00d45c);
	background-image: -ms-linear-gradient(left, #0779cf, #00d45c);
	background-image: linear-gradient(to right, #0779cf, #00d45c);
}
.background2
{
    min-width: 100%;
	height:250px;
	background-color: #e5e9f0;
	-webkit-box-shadow: 0 2px 2px rgba(4,4,4,.09);
	-moz-box-shadow: 0 2px 2px rgba(4,4,4,.09);
	box-shadow: 0 2px 2px rgba(4,4,4,.09);
	background-image: -webkit-linear-gradient(left, #d93955, #a62dd4);
	background-image: -moz-linear-gradient(left, #d93955, #a62dd4);
	background-image: -o-linear-gradient(left, #d93955, #a62dd4);
	background-image: -ms-linear-gradient(left, #d93955, #a62dd4);
	background-image: linear-gradient(to right, #d93955, #a62dd4);
}
.background3
{
    min-width: 100%;
	height:250px;
	background-color: #e5e9f0;
	-webkit-box-shadow: 0 2px 2px rgba(4,4,4,.09);
	-moz-box-shadow: 0 2px 2px rgba(4,4,4,.09);
	box-shadow: 0 2px 2px rgba(4,4,4,.09);
	background-image: -webkit-linear-gradient(left, #9920d7, #0476d6);
	background-image: -moz-linear-gradient(left, #9920d7, #0476d6);
	background-image: -o-linear-gradient(left, #9920d7, #0476d6);
	background-image: -ms-linear-gradient(left, #9920d7, #0476d6);
	background-image: linear-gradient(to right, #9920d7, #0476d6);
}

body
{
    margin: 0 0 0 0;
    background: #e5e9f0;
}

container
{
    display: block;
}

.card
{  
    position: static;
    margin-right: auto;
    margin-left: auto;
    margin-top: -10%;
    padding: 5%;
    width: 35%;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 2px rgba(4,4,4,.09);
	-moz-box-shadow: 0 2px 2px rgba(4,4,4,.09);
	box-shadow: 0 2px 2px rgba(4,4,4,.09);
}

#headerText
{
    text-align: center;
	font-family: Lato;
	font-size: 32px;
    font-weight: 500;
	text-transform: uppercase;
	text-shadow: 0 2px 2px rgba(4,4,4,.09);
}

#text
{
    text-align: center;
	font-family: Lato;
	font-size: 24px;
	color: #6c6c6c;
}
